<!--
  Generated template for the AnnuairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar padding-horizontal>
    <ion-buttons left>
      <button ion-button icon-only (click)="openMenu('right')">
        <ion-icon name="menu" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img alt="logo" height="40"  src="assets/imgs/logoici.png" ><!--icicm1-->
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openMenu('left')">
        <ion-icon name="search" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="uk-height-small uk-flex uk-flex-middle uk-flex-center uk-margin-large-top" *ngIf="loading">
    <div class="uk-text-center">
      <span class="uk-display-block uk-margin-medium-bottom">Chargement ....</span>
      <div uk-spinner></div>
    </div>
  </div>
  <div *ngIf="!loading">
    <div *ngIf="!showNoItem">
      <ion-list no-margin>
        <ion-card *ngFor="let liste of listing " no-margin style="width: 100% !important; border-bottom: 1px solid #eeeeee;">
          <ion-card-content>
            <ion-grid class="uk-padding-remove-right">
              <ion-row class="uk-padding-remove-right">
                <ion-col col-9 no-padding>
                  <ion-item class="item-compagny">
                    <ion-thumbnail item-start>
                      <img  *ngIf="liste.imageune==null"  src="http://ici.cm/media/pictures/companies/default.jpg" class="uk-responsive-height uk-border-circle" imageViewer>
                      <img  *ngIf="liste.imageune!=null"  src="http://ici.cm/media/pictures/companies/{{liste.imageune}}" class="uk-responsive-height uk-border-circle" imageViewer>
                    </ion-thumbnail>


                    <div (click)="openDetail(liste._id.$id)" tappable>
                      <h3 class="uk-text-truncate uk-margin-remove">{{liste.name}}</h3>
                      <div class="uk-h4 uk-margin-remove uk-text-truncate uk-text-muted">{{liste.ville}} {{liste.quartier}}</div>
                      <ion-badge class="uk-margin-remove-left uk-margin-remove-right">{{liste.maincategorie}}</ion-badge>
                    </div>


                  </ion-item>
                  <!--  <div class="uk-h4 uk-margin-remove uk-text-truncate uk-text-success uk-text-small"> <ion-icon name="checkmark-circle"></ion-icon> Entreprise validé</div>
                  <div class="uk-h4 uk-margin-remove uk-text-truncate uk-text-danger uk-text-small"> <ion-icon name="close"></ion-icon> Validation en cours</div> -->
                </ion-col>
                <ion-col col-3 no-padding>
                  <div tappable (click)="openDetail(liste._id.$id)">
                    <rating  [(ngModel)]="liste.ratecount"
                             readOnly="true"
                             max="5"
                             emptyStarIconName="star-outline"
                             halfStarIconName="star-half"
                             starIconName="star"
                             nullable="false"
                             (ngModelChange)="onModelChange($event, liste._id.$id)"></rating>
                    <div class="uk-text-right uk-h4 uk-margin-remove" >{{liste.reviewcount}} avis</div>
                  </div>
                  <!-- div class="uk-flex uk-flex-right uk-favoris">
                    <ion-icon name="heart-outline" ion-text clear class="uk-text-right" color="primary"></ion-icon>
                  </div -->


                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <div no-margin style="width: 100% !important; background-color: #fff;" padding-top>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)" > <!--*ngIf="page < totalPage"-->
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </ion-list>
    </div>
    <div *ngIf="showNoItem">
      <div class="uk-height-small uk-flex uk-flex-middle uk-flex-center uk-NoItem uk-margin-large-top">
        <div class="uk-text-center uk-padding-large">
          <ion-icon name="funnel" class="uk-margin-auto"></ion-icon>
          <div ion-text color="dark" class="uk-margin-medium-top uk-h2">
            Changer les paramètres de votre filtre pour obtenir plus d'entreprise
          </div>
        </div>
      </div>
    </div>
  </div>



</ion-content>



