<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button color="primary" icon-only small (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="uk-title-color-red">Connexion</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <div class="uk-padding uk-height-1-1">
    <div class="uk-width-1-1">
      <img src="assets/imgs/logoici.png" alt="" height="50" class="uk-display-block uk-margin-auto uk-margin-bottom">
      <form class="form" [formGroup]="validations_form"  (ngSubmit)="connexion(validations_form.value)">

        <ion-item no-padding>
          <ion-label floating color="primary">Adresse Email</ion-label>
          <ion-input type="email" formControlName="login"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.login">
            <div class="error-message uk-text-danger" *ngIf="validations_form.get('login').hasError(validation.type) && (validations_form.get('login').dirty || validations_form.get('login').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item no-padding>
          <ion-label floating color="primary">Mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message uk-text-danger" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>


        <button ion-button full type="submit" [disabled]="!validations_form.valid" class="uk-margin-medium-top">Connexion</button>
      </form>
      <div class="uk-grid uk-child-width-1-2">
        <div class="uk-text-left uk-text-small"><button ion-button clear (tap)="loginForget()" small>Mot de passe oublié?</button></div>
        <div class="uk-text-right uk-text-small"><button ion-button clear (tap)="inscription()" small>Inscrivez vous.</button></div>
      </div>
    </div>
  </div>

</ion-content>
