.title img{
  display: block;
  margin: 0 auto;
  height: 25px;
}

ion-tabs{

  .tabbar{
    background-color: #ffffff !important;
    //border-top: 2px solid #f44336;
  }
}


.scroll-content{
  background-color: #e1e1e1;
}

