
<ion-menu [content]="content" side="left" id="menu">
  <ion-header class="uk-box-shadow-medium">
    <div class="uk-position-relative uk-height-small">
      <div class="uk-position-center uk-padding-small">
        <img src="assets/imgs/logoici.png" alt="" width="40" margin>
      </div>
      <ion-title class="uk-position-bottom-center uk-padding-small">Connectez-vous</ion-title>
    </div>
  </ion-header>

  <ion-content id="menuLeft">
    <ion-list no-margin>
      <button ion-item *ngFor="let p of pages" (click)="openTab(p)" menuClose>
        {{ p.title }}
      </button>
    </ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">Mon Compte</ion-item-divider>
      <button ion-item *ngIf="userconnect==false" (click)="login()">
        Connexion
      </button>
      <button ion-item *ngIf="userconnect==false" (click)="inscription()">
        Inscription
      </button>
      <button ion-item *ngIf="userconnect==true" (click)="commentaires()">
        Mes Commentaires
      </button>
      <button ion-item *ngIf="userconnect==true"  (click)="messages()">
        Mes Messages
      </button>
      <button ion-item *ngIf="userconnect==true" (click)="favoris()">
        Mes Favoris
      </button>
      <button ion-item *ngIf="userconnect==true" (click)="logout()">
        Déconnexion
      </button>
    </ion-item-group>
  </ion-content>

</ion-menu>

<ion-menu [content]="content" side="right" id="filtre" swipeEnabled="false" (ionClose)="closedFiltre()">
  <ion-header class="uk-box-shadow-medium">
    <div class="uk-position-relative uk-height-xsmall">
      <ion-title class="uk-position-center"><ion-icon name="search" icon-left></ion-icon> Recherche</ion-title>
    </div>
    <ion-searchbar placeholder="Entreprise, Catégorie" (ionInput)="keyUpSearch($event)" [(ngModel)]="searchfilter"></ion-searchbar>
  </ion-header>

  <ion-content>
    <filtre></filtre>
  </ion-content>

  <ion-footer>
    <div padding>
      <button ion-button color="success" small (click)="filtre()"> Valider </button>
      <button ion-button color="light" small (click)="clearfilter()"> Effacer </button>
    </div>
  </ion-footer>

</ion-menu>

<ion-tabs tabsHighlight="true" selectedIndex="0" tabsPlacement="bottom" (ionChange)="menuToggle($event)" #content swipeBackEnabled="false" #myTabs>
  <ion-tab [root]="tab1Root" tabIcon="search" tabTitle="Recherche" ></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="list" tabTitle="Annuaire"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="map" tabTitle="Carte"></ion-tab>
</ion-tabs>
