<!-- Generated template for the FilterComponent component -->


      <div class="uk-padding-small">
        <ion-item no-margin no-padding>
          <ion-label stacked>Par ville</ion-label>
          <ion-select [(ngModel)]="cities" interface="action-sheet" multiple="true">
            <ion-option  *ngFor="let item of cities">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <ion-label padding-left>Par catégorie </ion-label>

      <ion-list *ngFor="let item of cat" >
        <ion-list-header color="primary" (click)="toggleGroup(item.id)" >
          <div>
          {{item.name}} 
          <ion-icon name="add" color="light" class="uk-position-center-right" padding-right *ngIf="!isGroupShown(item.id)"></ion-icon>
          <ion-icon name="close" color="light" class="uk-position-center-right" padding-right *ngIf="isGroupShown(item.id)"></ion-icon>
          </div>
        </ion-list-header>
        <ion-list no-padding no-margin *ngIf="isGroupShown(item.id)">
          <ion-item *ngFor="let it of item.subcat" >
            <ion-label>{{it.name}}</ion-label>
	          <ion-checkbox item-right color="primary" checked="true" [(ngModel)]="categories"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-list>

      



