page-company-info {
  //.scroll-content{
  //  background-color: #ffffff;
  //}

  .logo{
    height: 150px;
    width: 150px;
  }

  .item-ios[no-border]{
    border: none !important;
  }

  .item[no-border]{
    min-height: 0 !important;
  }
}
