

ul.rating {
  padding: 0px;
  margin: 0;
  text-align: right;
  &.rating li {
    padding: 5px 0px !important;
    background: none;
    color: #f44336;

    ion-icon {
      font-size: 13px;
    }
  }
}

ion-item-divider{
   //z-index:10 !important;
 }

.bgprimary{
  background-color: map-get($colors, primary) !important;
}

.uk-title-color-red .toolbar-title{
  color: map-get($colors, primary) !important;
}

.uk-title-color-white .toolbar-title{
  color: #ffffff !important;
}


.button-custom-size{
  font-size: 1.1rem !important;
  text-transform: inherit !important;
  font-weight: normal !important;
}

.no-border-radius{
  border-radius: 0 !important;
}
