
<ion-menu [content]="content" side="left" id="menu">
  <ion-header class="uk-box-shadow-medium">
    <div class="uk-position-relative uk-height-small">
      <div class="uk-position-center uk-padding-small">
        <img src="assets/imgs/logoici.png" alt="" width="40" margin>
      </div>
      <ion-title class="uk-position-bottom-center uk-padding-small">Connectez-vous</ion-title>
    </div>
  </ion-header>

  <ion-content id="menuLeft">
    <ion-list no-margin>
      <button ion-item>
        Accueil
      </button>
      <button ion-item >
        Annuaire
      </button>
      <button ion-item >
        Maps
      </button>
    </ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Mon Compte</ion-item-divider>
      <button ion-item *ngIf="userconnect==false">
        Connexion
      </button>   
       <button ion-item *ngIf="userconnect==true">
        Mes Entreprises
      </button>
      <button ion-item >
        Ajouter une entreprise
      </button>
       <button ion-item *ngIf="userconnect==true" (click)="logout()">
        Déconnexion
      </button>
    </ion-item-group>
  </ion-content>

</ion-menu>

<ion-menu [content]="content" side="right" id="filtre" swipeEnabled="false" (ionClose)="closedFiltre()">
  <ion-header class="uk-box-shadow-medium">
    <div class="uk-position-relative uk-height-small">
      <ion-title class="uk-position-center"><ion-icon name="funnel" icon-left></ion-icon> Filtre</ion-title>
    </div>
  </ion-header>

  <ion-content>
    <filtre></filtre>
  </ion-content>

  <ion-footer>
    <div padding>
      <button ion-button color="success" small (click)="filtre()"> Valider </button>
      <button ion-button color="light" small (click)="clearfilter()"> Effacer </button>
    </div>
  </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
