page-login-forget {
  .scroll-content{
    background-color: transparent;
  }

  ion-navbar{
    .back-button, .bar-button{
      color: map_get($colors, primary);
    }
  }

  .toolbar-title{
    color: map_get($colors, primary);
  }
}
